/* .table, .th, .td {
    border: 1px solid black;
    border-collapse: collapse;
} */

.head {
    text-align: center;
}

.table tr td {
    cursor: pointer;
}

form > div {
    width: 80%;
}

.errorClass {
    cursor:not-allowed;
}